<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.dao.RoleMapper">

    <resultMap id="BaseResultMap" type="com.cxy.pojo.Role">
        <!--@Table role-->
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="roleDesc" column="role_desc" jdbcType="VARCHAR"/>
        <result property="roleState" column="role_state" jdbcType="VARCHAR"/>
        <result property="roleTime" column="role_time" jdbcType="OTHER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          role_id, role_name, role_desc, role_state, role_time
        from hispitaldb.role
        where role_id = #{roleId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          role_id, role_name, role_desc, role_state, role_time
        from hispitaldb.role
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          role_id, role_name, role_desc, role_state, role_time
        from hispitaldb.role
        <where>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name = #{roleName}
            </if>
            <if test="roleDesc != null and roleDesc != ''">
                and role_desc = #{roleDesc}
            </if>
            <if test="roleState != null and roleState != ''">
                and role_state = #{roleState}
            </if>
            <if test="roleTime != null">
                and role_time = #{roleTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="roleId" useGeneratedKeys="true">
        insert into hispitaldb.role(role_name, role_desc, role_state, role_time)
        values (#{roleName}, #{roleDesc}, #{roleState}, #{roleTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update hispitaldb.role
        <set>
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName},
            </if>
            <if test="roleDesc != null and roleDesc != ''">
                role_desc = #{roleDesc},
            </if>
            <if test="roleState != null and roleState != ''">
                role_state = #{roleState},
            </if>
            <if test="roleTime != null">
                role_time = #{roleTime},
            </if>
        </set>
        where role_id = #{roleId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hispitaldb.role where role_id = #{roleId}
    </delete>


    <!-- 查询全部数据 -->
    <select id="selectAllUsers"  resultMap="BaseResultMap">
            SELECT * FROM role
    </select>

    <!-- 查询特定一条数据 -->
    <select id="selectOneUser" resultMap="BaseResultMap" >
            SELECT * FROM role
            where
            role_time = #{patientName}
    </select>

    <!--  多选删除  -->
    <delete id="deleteMoreUsers" parameterType="java.util.List">
        DELETE FROM role  WHERE role_id  IN
        <foreach item="items" index="index" collection="list" open="(" separator="," close=")">
            #{items}
        </foreach>
    </delete>
    <!--  删除特定id  -->
    <delete id="deleteOneUsers" parameterType="integer">
            DELETE FROM role WHERE role_id = #{id}
    </delete>

</mapper>