<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxy.dao.UserDao">



  <select id="selectAllUsers" resultType="com.cxy.pojo.User">
            SELECT * FROM USER
  </select>

  <select id="selectOneUser" resultType="com.cxy.pojo.User" parameterType="com.cxy.pojo.User">
            SELECT * FROM USER where name = #{name} AND time = #{date}
  </select>

  <delete id="deleteMoreUsers" parameterType="arraylist">
            DELETE * from USER
  </delete>
</mapper>